In [2]:
import numpy as np
import pandas as pd

In [4]:
student_question_matrix = pd.read_csv("../dataset/person_and_question_relationship.csv")

In [5]:
student_question_matrix[0:15]

,itest_id,problemid,actioncount,bottomhint,correct,correctrate,dayfinishquestion,end_time_day,end_time_month,endtime,...,monthfinishquestion,scaffold,timefinishquestion,timeover80,timeover80rate,timetaken,timetohint,workinschoolrate,wrong,wrongrate
0,8,104050001,1,0,1,1.000000,50328,50328,503,1112034253,...,503,0,2005-03-28 18:24:13,0,0.0,54.000000,-1.0,1.0,0,0.000000
1,8,104050197,1,0,1,1.000000,50110,50110,501,1105383340,...,501,0,2005-01-10 18:55:40,0,0.0,8.000000,-1.0,1.0,0,0.000000
2,8,104050201,1,0,1,1.000000,50110,50110,501,1105382397,...,501,0,2005-01-10 18:39:57,0,0.0,7.000000,-1.0,1.0,0,0.000000
3,8,104050211,1,0,1,1.000000,50110,50110,501,1105383367,...,501,0,2005-01-10 18:56:07,0,0.0,27.000000,-1.0,1.0,0,0.000000
4,8,104050215,1,0,1,1.000000,50110,50110,501,1105383377,...,501,0,2005-01-10 18:56:17,0,0.0,10.000000,-1.0,1.0,0,0.000000
5,8,104050222,2,0,0,0.000000,50110,100220,1002,2210765254,...,501,0,2005-01-10 18:45:20,0,0.0,18.000000,-1.0,1.0,2,1.000000
6,8,104050223,2,0,2,1.000000,50110,100220,1002,2210765351,...,501,1,2005-01-10 18:45:55,0,0.0,97.000000,-1.0,1.0,0,0.000000
7,8,104050224,5,0,1,0.200000,50110,250550,2505,5526913596,...,501,5,2005-01-10 18:47:01,0,0.0,146.000001,-1.0,1.0,4,0.800000
8,8,104050225,14,1,1,0.071429,50110,701540,7014,15475362918,...,501,11,2005-01-10 18:53:19,0,0.0,378.000000,67.0,1.0,10,0.714286
9,8,104050226,1,0,1,1.000000,50110,50110,501,1105383235,...,501,1,2005-01-10 18:53:55,0,0.0,36.000000,-1.0,1.0,0,0.000000
10,8,104050227,1,0,1,1.000000,50110,50110,501,1105383246,...,501,1,2005-01-10 18:54:06,0,0.0,11.000000,-1.0,1.0,0,0.000000
11,8,104050228,2,0,1,0.500000,50110,100220,1002,2210766584,...,501,0,2005-01-10 18:55:32,0,0.0,73.000000,-1.0,1.0,1,0.500000
12,8,104050251,1,0,0,0.000000,50328,50328,503,1112035761,...,503,0,2005-03-28 18:49:21,1,1.0,265.000000,-1.0,1.0,1,1.000000
13,8,104050252,4,1,1,0.250000,50328,201312,2012,4448143077,...,503,1,2005-03-28 18:49:36,0,0.0,15.000000,4.0,1.0,0,0.000000
14,8,104050253,1,0,1,1.000000,50328,50328,503,1112035782,...,503,1,2005-03-28 18:49:42,0,0.0,6.000000,-1.0,1.0,0,0.000000

In [6]:
student_question_matrix['timetaken_over80'] = (student_question_matrix['timetaken']>80).astype(int)

In [7]:
student_question_matrix['wrong_over80'] = ((student_question_matrix['timetaken_over80'] > 0) & 
                                           (student_question_matrix['correctrate'] == 0)).astype(int)

In [8]:
group1 = student_question_matrix.groupby('itest_id')

In [9]:
wrong_and_over80 = group1.sum()['wrong_over80'] / group1.count()['problemid']

In [10]:
wrong_and_over80

itest_id
8       0.038076
9       0.070588
11      0.116071
25      0.079848
27      0.163265
33      0.131387
35      0.047847
37      0.043478
39      0.085308
41      0.093137
43      0.111111
64      0.013807
65      0.047022
77      0.068702
83      0.077519
86      0.065934
87      0.040000
94      0.081081
101     0.054348
114     0.044586
118     0.046225
124     0.023810
125     0.118812
126     0.080000
129     0.084559
131     0.068627
132     0.084871
134     0.086957
154     0.160000
156     0.099057
          ...
7660    0.077778
7662    0.079295
7663    0.148148
7666    0.022414
7676    0.027304
7679    0.063725
7680    0.067568
7681    0.014109
7703    0.023529
7704    0.042857
7713    0.147059
7717    0.058394
7723    0.082645
7724    0.161290
7728    0.028302
7730    0.108696
7731    0.052632
7736    0.032922
7737    0.036842
7744    0.030812
7745    0.047619
7750    0.053628
7753    0.073099
7756    0.127119
7769    0.092486
7772    0.034188
7775    0.045802
7778    0.147541
7782    0.084967
7783    0.102041
Length: 1709, dtype: float64

In [19]:
group_by_day = student_question_matrix.groupby(['itest_id','dayfinishquestion'])
group_by_day1 = group_by_day.count()
average_questions_by_day  = group_by_day1.groupby(['itest_id']).mean()['problemid']
std_questions_by_day = group_by_day1.groupby(['itest_id']).std()['problemid']
day_to_answer_question = group_by_day1.groupby(['itest_id']).count()['problemid']

group_by_mon = student_question_matrix.groupby(['itest_id','monthfinishquestion'])
group_by_mon1 = group_by_mon.count()
average_questions_by_mon = group_by_mon1.groupby(['itest_id']).mean()['problemid']
std_questions_by_mon = group_by_mon1.groupby(['itest_id']).std()['problemid']
mon_to_answer_question = group_by_mon1.groupby(['itest_id']).count()['problemid']

In [20]:
student_info_matrix = pd.read_csv("student_information.csv")
student_info_matrix = student_info_matrix.set_index('itest_id')
student_info_matrix['wrong_and_over80'] = wrong_and_over80
student_info_matrix['average_questions_by_day'] = average_questions_by_day
student_info_matrix['std_questions_by_day'] = std_questions_by_day
student_info_matrix['average_questions_by_mon'] = average_questions_by_mon
student_info_matrix['std_questions_by_mon'] = std_questions_by_mon

student_info_matrix['day_to_answer_question'] = day_to_answer_question
student_info_matrix['mon_to_answer_question'] = mon_to_answer_question

In [22]:
student_info_matrix.to_csv("student_information_29.csv")