In [1]:
# Merge 12 files
#### function name: merge_stu_log(files_path) , input: files path list, output: DataFrame of all data
import pandas as pd
import numpy as np

def merge_stu_log(files_path):
    # Initial DataFrame
    df = pd.DataFrame()
    log1 = pd.read_csv(files_path[0])
    initial_col_order = [col.lower() for col in list(log1.columns)]
    # in loop
    for file in files_path:
        #load csv file as pandas
        student_log = pd.read_csv(file)
        student_log.columns = [col.lower() for col in student_log]
        df = pd.concat([df, student_log])

    df = df[initial_col_order]
    return df
student_log_list = ["../dataset/anonymized_dataset_for_ADM2017/student_log_{}.csv".format(i) for i in range(1,13)]
student_log = merge_stu_log(student_log_list)

C:\Users\surface\Anaconda2\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:2850: DtypeWarning: Columns (74,75) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

# student list and question list

In [2]:
# student list
student_list = student_log['itest_id'].unique()
print(len(student_list))

# question list 
question_list = student_log['problemid'].unique()
print(len(question_list))

1709
4117

# students information

In [3]:
stu_information_list = ['itest_id','aveknow','avecarelessness','avecorrect',
                        'numactions','averesbored','averesengcon',
                         'averesconf','averesfrust','averesofftask','averesgaming']
student_information = student_log.loc[:,stu_information_list].drop_duplicates()  
student_information.to_csv("../dataset/student_information.csv",index=False)

# question information

In [4]:
# here don't use problemType because of inconsistency, might need cleaning
que_information_list = ['problemid','skill']

que_information = student_log.loc[:,que_information_list].drop_duplicates()
que_information_copy = que_information.copy()

p = que_information.groupby(['problemid']).count()
p = p[p['skill']>1]
for pr in p.index:
    a = que_information[que_information['problemid']==pr]
    b = a[a['skill']=='noskill']
    que_information.drop(b.index,inplace=True)
    
reduced_set = set(question_list) - set(que_information['problemid'])
for redu in reduced_set:
    que_information = pd.concat([que_information,que_information_copy[que_information_copy['problemid']==redu]])

que_information.to_csv("../dataset/question_information.csv",index=False)

# Matrixs by different features

In [91]:
import datetime
def endtime(timeStamp):
    dateArray = datetime.datetime.utcfromtimestamp(timeStamp)
    otherStyleTime = dateArray.strftime("%Y-%m-%d %H:%M:%S")
    return otherStyleTime
def f(x):
    return x[2]+x[3]+x[5]+x[6]+x[8]+x[9]
def f1(x):
    return x[2]+x[3]+x[5]+x[6]

# pick up columns that should be used to filter
columns_list = ['itest_id','actionid','problemid','timetaken','correct',
                'hint','bottomhint','frishelprequest','scaffold',
                'frWorkingInSchool'.lower(),'responseIsFillIn'.lower(),
                'frIsHelpRequestScaffolding'.lower(),'timeOver80'.lower(),'endtime']
students_actions = student_log.loc[:,columns_list]
students_actions['end_time']=students_actions['endtime'].apply(lambda x: endtime(x))
students_actions['end_time_day']=students_actions['end_time'].apply(f).astype(str).astype(int)
students_actions['end_time_month']=students_actions['end_time'].apply(f1).astype(str).astype(int)
group = students_actions.groupby(['itest_id','problemid'])
last = group.tail(1).set_index(['itest_id','problemid'])

### action counting

In [68]:
action_count = group.count().loc[:,['actionid']]
action_count = action_count.rename(columns={'actionid':'action_count'})

In [69]:
def find_time_to_hint_and_scaffold(datafr):

    if 1 in list(datafr['hint']):
        index = list(datafr['hint']).index(1)
    else:
        index = -1
    if 1 in list(datafr['scaffold']):
        if index > list(datafr['scaffold']).index(1):
            index = list(datafr['scaffold']).index(1)
    else:
        index = max(index,-1)
    if index == -1:
        return -1
    else:
        return sum(list(datafr['timetaken'][:index+1]))

### sum other features

In [93]:
sum_table = group.sum()
# the times of wrong action  = totalaction - action_request_hint - correct
sum_table['wrong'] = action_count['action_count'] - sum_table['hint'] - sum_table['correct']
sum_table['wrongrate'] = sum_table['wrong']/action_count['action_count']

# use hint rate
sum_table['hintrate'] = sum_table['hint']/action_count['action_count']

# correct could be more than once so the rate might more suitable
sum_table['correctrate'] = sum_table['correct']/action_count['action_count']

# first request help rate
sum_table['frhrate'] = sum_table['frishelprequest']/action_count['action_count']

# working in school rate (could be 1 or 0 in most of time)
sum_table['workinschoolrate'] = sum_table['frworkinginschool']/action_count['action_count']

# filedin (could be 1 or 0 in most of time)
sum_table['filedin'] = sum_table['responseisfillin']/action_count['action_count']

# first response is request scaffold help   (could be 1 or 0 in most of time)
sum_table['frscaffoldh'] = sum_table['frishelprequestscaffolding']/action_count['action_count']

# timeover80
sum_table['timeover80rate'] = sum_table['timeover80']/action_count['action_count']

# time to hint
sum_table['timetohint'] = group.apply(lambda x:find_time_to_hint_and_scaffold(x))

# time to finish question
sum_table['timefinishquestion'] = last['end_time']
# time to finish question
sum_table['dayfinishquestion'] = last['end_time_day']
# time to finish question
sum_table['monthfinishquestion'] = last['end_time_month']

sum_table.drop(['frishelprequest','frworkinginschool','responseisfillin',
                'frishelprequestscaffolding'],axis=1,inplace=True)
sum_table.drop(['actionid'],axis=1,inplace=True)

In [94]:
sum_table

                     timetaken  correct  hint  bottomhint  scaffold  \
itest_id problemid
8        104050001   54.000000        1     0           0         0
         104050197    8.000000        1     0           0         0
         104050201    7.000000        1     0           0         0
         104050211   27.000000        1     0           0         0
         104050215   10.000000        1     0           0         0
         104050222   18.000000        0     0           0         0
         104050223   97.000000        2     0           0         1
         104050224  146.000001        1     0           0         5
         104050225  378.000000        1     3           1        11
         104050226   36.000000        1     0           0         1
         104050227   11.000000        1     0           0         1
         104050228   73.000000        1     0           0         0
         104050251  265.000000        0     0           0         0
         104050252   15.000000        1     3           1         1
         104050253    6.000000        1     0           0         1
         104050254    6.000000        1     0           0         2
         104050255   37.000000        1     0           0         0
         104050260   32.000000        1     0           0         0
         104050273  116.000000        0     0           0         0
         104050274   12.000000        1     0           0         1
         104050275   14.000000        1     0           0         1
         104050276   87.000000        1     3           1         2
         104050277    9.000000        1     3           1         1
         104050278  109.000000        0    10           1         0
         104050284   56.000000        0     0           0         0
         104050286   34.000000        1     4           1         1
         104050287   15.000000        1     0           0         1
         104050288    9.000000        1     0           0         2
         104050296   45.000000        1     0           0         0
         104050300   36.000000        1     0           0         0
...                        ...      ...   ...         ...       ...
7783     9322         6.000000        1     0           0         1
         9334       572.000000        1     0           0         0
         9335        14.000000        1     0           0         1
         9340       260.000000        0     0           0         0
         9341        36.000000        1     4           1         2
         9342        15.000000        1     0           0         2
         9345       143.000000        1     0           0         0
         9351       437.000000        0     0           0         0
         9352       190.000000        0     0           0         0
         9353         8.000000        1     0           0         1
         9354        11.000000        1     0           0         2
         9355        13.000000        1     0           0         1
         9357        24.000000        1     0           0         2
         9661        21.000000        1     0           0         1
         9662         4.000000        1     0           0         1
         9679        27.000000        1     0           0         4
         9680         6.000000        1     0           0         1
         9686        30.000000        1     4           1         2
         9687        25.000000        1     0           0         3
         9771       456.000000        1     1           0         0
         9772       146.000000        1     5           1         0
         9773       303.000000        1     0           0         0
         9774       226.000000        1     4           0         0
         9795       397.000000        1     0           0         0
         9796        55.000000        0     1           0         0
         9797        12.000000        1     0           0         1
         9798        91.000000        0     1           0         0
         9799        67.000000        1     0           0         1
         9800       305.000000        1     0           0         0
         9801       161.000000        1     0           0         0

                    timeover80      endtime  end_time_day  end_time_month  \
itest_id problemid
8        104050001           0   1112034253         50328             503
         104050197           0   1105383340         50110             501
         104050201           0   1105382397         50110             501
         104050211           0   1105383367         50110             501
         104050215           0   1105383377         50110             501
         104050222           0   2210765254        100220            1002
         104050223           0   2210765351        100220            1002
         104050224           0   5526913596        250550            2505
         104050225           0  15475362918        701540            7014
         104050226           0   1105383235         50110             501
         104050227           0   1105383246         50110             501
         104050228           0   2210766584        100220            1002
         104050251           1   1112035761         50328             503
         104050252           0   4448143077        201312            2012
         104050253           0   1112035782         50328             503
         104050254           0   2224071574        100656            1006
         104050255           0   1112034290         50328             503
         104050260           0   1112035856         50328             503
         104050273           1   1112035237         50328             503
         104050274           0   1112035249         50328             503
         104050275           0   1112035263         50328             503
         104050276           0   5560176723        251640            2515
         104050277           0   4448141417        201312            2012
         104050278           0  11120354259        503280            5030
         104050284           0   1112034463         50328             503
         104050286           0   5560172754        251640            2515
         104050287           0   1112034579         50328             503
         104050288           0   2224069171        100656            1006
         104050296           0   1112034335         50328             503
         104050300           0   1112035824         50328             503
...                        ...          ...           ...             ...
7783     9322                0   1135263187         51222             512
         9334                2   2279427222        111626            1116
         9335                0   1135264955         51222             512
         9340                1   1135263447         51222             512
         9341                0   6811580844        307332            3072
         9342                0   2270526992        102444            1024
         9345                1   1144162424         60404             604
         9351                1   1135264316         51222             512
         9352                1   1135264627         51222             512
         9353                0   1135264635         51222             512
         9354                0   2270529291        102444            1024
         9355                0   1135264329         51222             512
         9357                0   2270528699        102444            1024
         9661                0   1147101060         60508             605
         9662                0   1147101064         60508             605
         9679                0   4589788474        242048            2420
         9680                0   1147447128         60512             605
         9686                0   6884674106        363072            3630
         9687                0   3442337152        181536            1815
         9771                1   2274328241        120226            1202
         9772                0   6822981671        360678            3606
         9773                1   1137164633         60113             601
         9774                1   6822983050        360678            3606
         9795                1   1137165725         60113             601
         9796                0   1137163504         60113             601
         9797                0   1137163516         60113             601
         9798                1   1137163382         60113             601
         9799                0   1137163449         60113             601
         9800                1   1142434665         60315             603
         9801                1   1137165886         60113             601

                    wrong         ...          correctrate   frhrate  \
itest_id problemid                ...
8        104050001      0         ...             1.000000  0.000000
         104050197      0         ...             1.000000  0.000000
         104050201      0         ...             1.000000  0.000000
         104050211      0         ...             1.000000  0.000000
         104050215      0         ...             1.000000  0.000000
         104050222      2         ...             0.000000  0.000000
         104050223      0         ...             1.000000  0.500000
         104050224      4         ...             0.200000  0.200000
         104050225     10         ...             0.071429  0.071429
         104050226      0         ...             1.000000  1.000000
         104050227      0         ...             1.000000  1.000000
         104050228      1         ...             0.500000  0.000000
         104050251      1         ...             0.000000  0.000000
         104050252      0         ...             0.250000  0.250000
         104050253      0         ...             1.000000  1.000000
         104050254      1         ...             0.500000  0.500000
         104050255      0         ...             1.000000  0.000000
         104050260      0         ...             1.000000  0.000000
         104050273      1         ...             0.000000  0.000000
         104050274      0         ...             1.000000  1.000000
         104050275      0         ...             1.000000  1.000000
         104050276      1         ...             0.200000  0.200000
         104050277      0         ...             0.250000  0.250000
         104050278      0         ...             0.000000  0.100000
         104050284      1         ...             0.000000  0.000000
         104050286      0         ...             0.200000  0.200000
         104050287      0         ...             1.000000  1.000000
         104050288      1         ...             0.500000  0.500000
         104050296      0         ...             1.000000  0.000000
         104050300      0         ...             1.000000  0.000000
...                   ...         ...                  ...       ...
7783     9322           0         ...             1.000000  1.000000
         9334           1         ...             0.500000  0.000000
         9335           0         ...             1.000000  1.000000
         9340           1         ...             0.000000  0.000000
         9341           1         ...             0.166667  0.166667
         9342           1         ...             0.500000  0.500000
         9345           0         ...             1.000000  0.000000
         9351           1         ...             0.000000  0.000000
         9352           1         ...             0.000000  0.000000
         9353           0         ...             1.000000  1.000000
         9354           1         ...             0.500000  0.500000
         9355           0         ...             1.000000  1.000000
         9357           1         ...             0.500000  0.500000
         9661           0         ...             1.000000  1.000000
         9662           0         ...             1.000000  1.000000
         9679           3         ...             0.250000  0.250000
         9680           0         ...             1.000000  1.000000
         9686           1         ...             0.166667  0.166667
         9687           2         ...             0.333333  0.333333
         9771           0         ...             0.500000  0.500000
         9772           0         ...             0.166667  0.166667
         9773           0         ...             1.000000  0.000000
         9774           1         ...             0.166667  0.000000
         9795           0         ...             1.000000  0.000000
         9796           0         ...             0.000000  1.000000
         9797           0         ...             1.000000  1.000000
         9798           0         ...             0.000000  1.000000
         9799           0         ...             1.000000  1.000000
         9800           0         ...             1.000000  0.000000
         9801           0         ...             1.000000  0.000000

                    workinschoolrate  filedin  frscaffoldh  timeover80rate  \
itest_id problemid
8        104050001               1.0      1.0          0.0        0.000000
         104050197               1.0      1.0          0.0        0.000000
         104050201               1.0      1.0          0.0        0.000000
         104050211               1.0      0.0          0.0        0.000000
         104050215               1.0      0.0          0.0        0.000000
         104050222               1.0      0.0          0.0        0.000000
         104050223               1.0      0.0          1.0        0.000000
         104050224               1.0      0.0          1.0        0.000000
         104050225               1.0      0.0          1.0        0.000000
         104050226               1.0      0.0          1.0        0.000000
         104050227               1.0      0.0          1.0        0.000000
         104050228               1.0      0.0          0.0        0.000000
         104050251               1.0      0.0          0.0        1.000000
         104050252               1.0      1.0          1.0        0.000000
         104050253               1.0      0.0          1.0        0.000000
         104050254               1.0      0.0          1.0        0.000000
         104050255               1.0      1.0          0.0        0.000000
         104050260               1.0      1.0          0.0        0.000000
         104050273               1.0      0.0          0.0        1.000000
         104050274               1.0      0.0          1.0        0.000000
         104050275               1.0      0.0          1.0        0.000000
         104050276               1.0      0.0          1.0        0.000000
         104050277               1.0      0.0          1.0        0.000000
         104050278               1.0      0.0          1.0        0.000000
         104050284               1.0      0.0          0.0        0.000000
         104050286               1.0      1.0          1.0        0.000000
         104050287               1.0      1.0          1.0        0.000000
         104050288               1.0      0.0          1.0        0.000000
         104050296               1.0      0.0          0.0        0.000000
         104050300               1.0      0.0          0.0        0.000000
...                              ...      ...          ...             ...
7783     9322                    1.0      0.0          1.0        0.000000
         9334                    1.0      0.0          0.0        1.000000
         9335                    1.0      0.0          1.0        0.000000
         9340                    1.0      0.0          0.0        1.000000
         9341                    1.0      0.0          1.0        0.000000
         9342                    1.0      0.0          1.0        0.000000
         9345                    1.0      0.0          0.0        1.000000
         9351                    1.0      0.0          0.0        1.000000
         9352                    1.0      0.0          0.0        1.000000
         9353                    1.0      0.0          1.0        0.000000
         9354                    1.0      0.0          1.0        0.000000
         9355                    1.0      0.0          1.0        0.000000
         9357                    1.0      0.0          1.0        0.000000
         9661                    1.0      0.0          1.0        0.000000
         9662                    1.0      0.0          1.0        0.000000
         9679                    1.0      0.0          1.0        0.000000
         9680                    1.0      0.0          1.0        0.000000
         9686                    1.0      0.0          1.0        0.000000
         9687                    1.0      0.0          1.0        0.000000
         9771                    1.0      0.0          0.0        0.500000
         9772                    1.0      0.0          0.0        0.000000
         9773                    1.0      0.0          0.0        1.000000
         9774                    1.0      0.0          0.0        0.166667
         9795                    1.0      0.0          0.0        1.000000
         9796                    1.0      0.0          0.0        0.000000
         9797                    1.0      0.0          1.0        0.000000
         9798                    1.0      0.0          0.0        1.000000
         9799                    1.0      0.0          1.0        0.000000
         9800                    1.0      0.0          0.0        1.000000
         9801                    1.0      0.0          0.0        1.000000

                    timetohint   timefinishquestion  dayfinishquestion  \
itest_id problemid
8        104050001        -1.0  2005-03-28 18:24:13              50328
         104050197        -1.0  2005-01-10 18:55:40              50110
         104050201        -1.0  2005-01-10 18:39:57              50110
         104050211        -1.0  2005-01-10 18:56:07              50110
         104050215        -1.0  2005-01-10 18:56:17              50110
         104050222        -1.0  2005-01-10 18:45:20              50110
         104050223        -1.0  2005-01-10 18:45:55              50110
         104050224        -1.0  2005-01-10 18:47:01              50110
         104050225        67.0  2005-01-10 18:53:19              50110
         104050226        -1.0  2005-01-10 18:53:55              50110
         104050227        -1.0  2005-01-10 18:54:06              50110
         104050228        -1.0  2005-01-10 18:55:32              50110
         104050251        -1.0  2005-03-28 18:49:21              50328
         104050252         4.0  2005-03-28 18:49:36              50328
         104050253        -1.0  2005-03-28 18:49:42              50328
         104050254        -1.0  2005-03-28 18:49:48              50328
         104050255        -1.0  2005-03-28 18:24:50              50328
         104050260        -1.0  2005-03-28 18:50:56              50328
         104050273        -1.0  2005-03-28 18:40:37              50328
         104050274        -1.0  2005-03-28 18:40:49              50328
         104050275        -1.0  2005-03-28 18:41:03              50328
         104050276        78.0  2005-03-28 18:42:30              50328
         104050277         1.0  2005-03-28 18:42:39              50328
         104050278         2.0  2005-03-28 18:44:28              50328
         104050284        -1.0  2005-03-28 18:27:43              50328
         104050286        13.0  2005-03-28 18:29:24              50328
         104050287        -1.0  2005-03-28 18:29:39              50328
         104050288        -1.0  2005-03-28 18:29:48              50328
         104050296        -1.0  2005-03-28 18:25:35              50328

In [95]:
sum_table['actioncount'] = action_count['action_count']
matrix = sum_table.reindex(sorted(sum_table.columns), axis=1)

In [96]:
matrix.to_csv("../dataset/person_and_question_relationship.csv")