In [1]:
import os, sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import Lasso, LinearRegression, LogisticRegression
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve, auc
import datetime
from sklearn.neural_network import MLPClassifier
from sklearn import metrics
import math
from numpy.linalg import svd

from sklearn.ensemble import RandomForestClassifier

### Loading the initial dataset

In [2]:
path = os.getcwd() + '/../dataset/anonymized_dataset_for_ADM2017/'
print(path + 'student_log_{}.csv'.format(1))
log1 = pd.read_csv(path + 'student_log_{}.csv'.format(1))
initial_col_order = [col.lower() for col in list(log1.columns)]

data = pd.DataFrame()
for i in range(1, 10):
    student_log = pd.read_csv(path + 'student_log_{}.csv'.format(i))
    student_log.columns = [col.lower() for col in student_log]
    data = pd.concat([data, student_log], ignore_index=True)

# reorder everything with the original order, where student id is in the first column
data = data[initial_col_order]
data.shape
data.head()

/Users/yeldosbalgabekov/Desktop/Books and Schools/UoSouthampton/Data Mining/DataMining/Yeldos_Richa/../dataset/anonymized_dataset_for_ADM2017/student_log_1.csv

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (74,75) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,itest_id,sy assistments usage,aveknow,avecarelessness,avecorrect,numactions,averesbored,averesengcon,averesconf,averesfrust,...,confidence(off task),confidence(gaming),res_bored,res_concentrating,res_confused,res_frustrated,res_offtask,res_gaming,ln-1,ln
0,8,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,0.115905,0.112408,...,0.838710,0.008522,0.376427,0.320317,0.000000,0.0,0.785585,0.000264,0.13,0.0611904
1,8,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,0.115905,0.112408,...,0.600000,0.047821,0.156027,0.995053,0.887452,0.0,0.468252,0.001483,0.0611904,0.21351
2,8,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,0.115905,0.112408,...,0.600000,0.047821,0.156027,0.995053,0.887452,0.0,0.468252,0.001483,0.116,0.0333058
3,8,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,0.115905,0.112408,...,0.204082,0.343996,0.156027,0.744520,0.000000,0.0,0.108417,0.010665,0.116,0.0333058
4,8,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,0.115905,0.112408,...,0.204082,0.343996,0.156027,0.744520,0.000000,0.0,0.108417,0.010665,0.0333058,0.118386

### Transforming the initial dataset and loading Training Set

In [3]:
def to_float(x):
    try:
        if x.isdigit():
            return float(x)
    except:
        if x == '.':
            return 0
        return x

def series_types(series):
    types = []
    for i in set(series):
        if not type(i) in types:
            types.append(type(i))
    return(types)


data['sy assistments usage'] = data['sy assistments usage'].astype('category')
data['skill'] = data['skill'].astype('category')
data['problemtype'] = data['problemtype'].astype('category')
data['ln-1'] = data['ln-1'].apply(lambda x: to_float(x))
data['ln'] = data['ln'].apply(lambda x: to_float(x))
# data.memory_usage(deep=True)
# data.info(memory_usage='deep')

training = pd.read_csv(path + 'training_label.csv').drop(['AveCorrect'], axis=1)
training.columns = [col.lower() for col in training.columns]
training.shape

# merged data set with isSTEM
df = data.merge(training, on='itest_id', how="left")
#df.info()

### Filtering for the actions of the "training" students

In [4]:
actions = df[df.isstem.notnull()]
actions['skill'] = actions.skill.astype('category')
print("training set size: ", training.shape[0], "actions for # of students: ", len(actions.itest_id.unique()))
print("sample size useless for training: ", training.shape[0] - len(actions.itest_id.unique()))

# merged training data set
stem = actions[actions.isstem == 1]
nonstem = actions[actions.isstem == 0]

actions.head()

training set size:  514 actions for # of students:  326
sample size useless for training:  188

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,itest_id,sy assistments usage,aveknow,avecarelessness,avecorrect,numactions,averesbored,averesengcon,averesconf,averesfrust,...,res_concentrating,res_confused,res_frustrated,res_offtask,res_gaming,ln-1,ln,schoolid,mcas,isstem
1056,35,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.262675,0.060808,0.000000,0.889219,0.005797,0.271000,0.077899,2.0,34.0,0.0
1057,35,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.696486,0.000000,0.009561,0.108417,0.001483,0.077899,0.225856,2.0,34.0,0.0
1058,35,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.580763,0.000000,0.009561,0.108417,0.003940,0.225856,0.483008,2.0,34.0,0.0
1059,35,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.580763,0.000000,0.009561,0.108417,0.003940,0.483008,0.745290,2.0,34.0,0.0
1060,35,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.898073,0.000000,0.009561,0.468252,0.001483,0.745290,0.900994,2.0,34.0,0.0

### Testing the cases
Analysing other features

In [5]:
actions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177960 entries, 1056 to 639897
Data columns (total 79 columns):
itest_id                                  177960 non-null int64
sy assistments usage                      177960 non-null object
aveknow                                   177960 non-null float64
avecarelessness                           177960 non-null float64
avecorrect                                177960 non-null float64
numactions                                177960 non-null int64
averesbored                               177960 non-null float64
averesengcon                              177960 non-null float64
averesconf                                177960 non-null float64
averesfrust                               177960 non-null float64
averesofftask                             177960 non-null float64
averesgaming                              177960 non-null float64
actionid                                  177960 non-null int64
skill                                     177960 non-null category
problemid                                 177960 non-null int64
assignmentid                              177960 non-null int64
assistmentid                              177960 non-null int64
starttime                                 177960 non-null int64
endtime                                   177960 non-null int64
timetaken                                 177960 non-null float64
correct                                   177960 non-null int64
original                                  177960 non-null int64
hint                                      177960 non-null int64
hintcount                                 177960 non-null int64
hinttotal                                 177960 non-null int64
scaffold                                  177960 non-null int64
bottomhint                                177960 non-null int64
attemptcount                              177960 non-null int64
problemtype                               177960 non-null object
frishelprequest                           177960 non-null int64
frpast5helprequest                        177960 non-null int64
frpast8helprequest                        177960 non-null int64
stlhintused                               177960 non-null int64
past8bottomout                            177960 non-null int64
totalfrpercentpastwrong                   177960 non-null float64
totalfrpastwrongcount                     177960 non-null int64
frpast5wrongcount                         177960 non-null int64
frpast8wrongcount                         177960 non-null int64
totalfrtimeonskill                        177960 non-null float64
timesinceskill                            177960 non-null float64
frworkinginschool                         177960 non-null int64
totalfrattempted                          177960 non-null int64
totalfrskillopportunities                 177960 non-null int64
responseisfillin                          177960 non-null int64
responseischosen                          177960 non-null int64
endswithscaffolding                       177960 non-null int64
endswithautoscaffolding                   177960 non-null int64
frtimetakenonscaffolding                  177960 non-null float64
frtotalskillopportunitiesscaffolding      177960 non-null int64
totalfrskillopportunitiesbyscaffolding    177960 non-null float64
frishelprequestscaffolding                177960 non-null int64
timegreater5secprev2wrong                 177960 non-null int64
sumright                                  177960 non-null int64
helpaccessunder2sec                       177960 non-null int64
timegreater10secandnextactionright        177960 non-null int64
consecutiveerrorsinrow                    177960 non-null int64
sumtime3sdwhen3rowright                   177939 non-null float64
sumtimeperskill                           177960 non-null float64
totaltimebypercentcorrectforskill         177960 non-null float64
prev5count                                177960 non-null int64
timeover80                                177960 non-null int64
manywrong                                 177960 non-null int64
confidence(bored)                         177960 non-null float64
confidence(concentrating)                 177960 non-null float64
confidence(confused)                      177960 non-null float64
confidence(frustrated)                    177960 non-null float64
confidence(off task)                      177960 non-null float64
confidence(gaming)                        177960 non-null float64
res_bored                                 177960 non-null float64
res_concentrating                         177960 non-null float64
res_confused                              177960 non-null float64
res_frustrated                            177960 non-null float64
res_offtask                               177960 non-null float64
res_gaming                                177960 non-null float64
ln-1                                      175467 non-null float64
ln                                        175467 non-null float64
schoolid                                  177960 non-null float64
mcas                                      177960 non-null float64
isstem                                    177960 non-null float64
dtypes: category(1), float64(35), int64(41), object(2)
memory usage: 107.4+ MB

In [75]:
actions.head()

,itest_id,sy assistments usage,aveknow,avecarelessness,avecorrect,numactions,averesbored,averesengcon,averesconf,averesfrust,...,res_concentrating,res_confused,res_frustrated,res_offtask,res_gaming,ln-1,ln,schoolid,mcas,isstem
1056,35,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.262675,0.060808,0.000000,0.889219,0.005797,0.271000,0.077899,2.0,34.0,0.0
1057,35,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.696486,0.000000,0.009561,0.108417,0.001483,0.077899,0.225856,2.0,34.0,0.0
1058,35,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.580763,0.000000,0.009561,0.108417,0.003940,0.225856,0.483008,2.0,34.0,0.0
1059,35,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.580763,0.000000,0.009561,0.108417,0.003940,0.483008,0.745290,2.0,34.0,0.0
1060,35,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.898073,0.000000,0.009561,0.468252,0.001483,0.745290,0.900994,2.0,34.0,0.0

In [65]:
def threshold5(row):
    if row['total'] < 5:
        row['accuracy'] = 0
        return row
    row['accuracy'] = row['correct'] / row['total']
    return row

cols = ['itest_id', 'skill', 'correct']
truncated = actions[cols]
mapped_skills = dict(zip(truncated['skill'].astype('category').cat.codes.unique(), truncated['skill'].unique()))
truncated['skill'] = truncated['skill'].astype('category').cat.codes
tmp = truncated
truncated.head()
truncated = truncated.groupby(['itest_id','skill'], as_index=False).count()
truncated.columns = ['itest_id', 'skill', 'total']
truncated['correct'] = tmp.groupby(['itest_id','skill'], as_index=False).sum().iloc[:, -1]
truncated = truncated.apply(lambda row: threshold5(row), axis=1)
truncated = truncated[['itest_id', 'skill', 'accuracy']]
truncated.head()

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   itest_id  skill  accuracy
0      35.0    1.0  0.684211
1      35.0    3.0  0.000000
2      35.0    4.0  0.200000
3      35.0    5.0  0.315789
4      35.0    8.0  0.000000

In [110]:
def get_top5(row):
    sorted_row = row[1:].sort_values()
    return list(sorted_row.index[-5:])
    
pivoted = truncated.pivot(index='itest_id', columns='skill', values='accuracy')
pivoted = pivoted.fillna(0)
pivoted = pd.DataFrame(pivoted.to_records())
pivoted['top5'] = pivoted.apply(lambda row: get_top5(row), axis=1)
pivoted = pivoted[['itest_id', 'top5']]
pivoted.head()

   itest_id                            top5
0      35.0   [1.0, 63.0, 46.0, 54.0, 16.0]
1      77.0  [77.0, 18.0, 59.0, 87.0, 51.0]
2     126.0   [3.0, 65.0, 30.0, 53.0, 46.0]
3     205.0  [77.0, 65.0, 60.0, 56.0, 16.0]
4     283.0  [54.0, 46.0, 10.0, 16.0, 87.0]

In [113]:
lst = [1, 2, 3, 4, 5]
d = {}
for i in range(len(lst)):
    for j in range(i+1, len(lst)):
        print(lst[i], lst[j])

1 2
1 3
1 4
1 5
2 3
2 4
2 5
3 4
3 5
4 5

In [114]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori


dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)

frequent_itemsets

ImportError: No module named 'mlxtend'